@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Custom Scrollbar Styling */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #F8FAFC;
    }

    ::-webkit-scrollbar-thumb {
        background: #CBD5E1;
        border-radius: 20px;
        border: 2px solid #F8FAFC;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #003366;
    }

    /* For Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #CBD5E1 #F8FAFC;
    }
}
